ffmpeg-python
pydantic
structlog
mlx-whisper; sys_platform == "darwin" and platform_machine == "arm64"
openai-whisper; sys_platform != "darwin" or platform_machine != "arm64"
pytest
noisereduce
scipy
soundfile
pylint
requests
